<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/user/css/index.css">
    <link rel="stylesheet" href="/user/css/home.css">
    <link rel="stylesheet" href="/user/css/medical-record.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/user/js/image-profile.js"></script>
    <script type="module" src="/user/js/medical-record.js"></script>
    <script src="https://kit.fontawesome.com/8cf6f6ded8.js" crossorigin="anonymous"></script>
    <title>Paciente | Registros Medicos</title>
</head>
<body>
    <header>
        <nav>
            <div class="menu">
                <input type="checkbox" id="open-navbar">
                <label class="show-navbar" for="open-navbar">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <section class="navbar">
                    <label class="close-navbar" for="open-navbar">
                        <i class="fa-solid fa-xmark"></i>
                    </label>
                    <div class="logo">
                        <div class="image">
                            <a href="/">
                                <img src="/images/logo.jpg" alt="Logo de MediConnect" title="Logo de MediConnect">
                            </a>
                        </div>
                        <h2>Medi<span>Connect</span></h2>
                    </div>
                    <ul>
                        <li><a href="/paciente"><i class="fa-solid fa-calendar-check"></i> Citas</a></li>
                        <li><a href="/paciente/historial"><i class="fa-solid fa-file-medical"></i> Registros Medicos</a></li>
                    </ul>
                </section>
            </div>
            <div class="profile">
                <input type="checkbox" id="check-profile">
                <label for="check-profile">
                    <img id="profile-image" src="/images/user-solid.jpg" alt="Imagen de perfil" class="img-circle image-profile">
                </label>
                <section class="dropdown-profile">
                    <article class="profile-information">
                        <p>Registrado como</p>
                        <p class="email-profile"></p>
                    </article>
                    <article class="profile-link">
                        <i class="fa-solid fa-user"></i>
                        <a href="/paciente/perfil">Perfil de usuario</a>
                    </article>
                    <article class="profile-logout logout">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                        <a href="/sesion/cerrar/paciente">Cerrar Sesión</a>
                    </article>  
                </section>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <h3 class="subtitle">Registros Medicos / Recetas Medicas</h3>
            <section id="container-medical-records" class="container-medical-records"></section>
            <template id="template-medical-records">
                <article class="medical-record">
                    <section class="content-left">
                        <h3 class="title">Registro Medico</h3>
                        <h3 class="subtitle"></h3>
                        <div class="profiles">
                            <div class="doctor">
                                <h4 class="title-profile">Doctor</h4>
                                <div class="profile">
                                    <img class="image-profile" src="/images/user-solid.jpg">
                                    <div class="text-profile">
                                        <p class="name"></p>
                                        <p class="email"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="patient">
                                <h4 class="title-profile">Paciente</h4>
                                <div class="profile">
                                    <img class="image-profile" src="/images/user-solid.jpg">
                                    <div class="text-profile">
                                        <p class="name"></p>
                                        <p class="email"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="risk"></p>
                        <small class="reason"></small>
                        <div class="buttons-print">
                            <button type="button" class="button-rounded-gray button-print-medical-record">Ver Registro Medico <i class="fa-solid fa-print"></i></button>
                            <button type="button" class="button-rounded-blue button-print-recipe">Ver Receta Medica <i class="fa-solid fa-print"></i></button>
                        </div>
                        <p class="created-at"></p>
                    </section>
                    <section class="content-right">
                        <iframe src="" frameborder="0"></iframe>
                    </section>
                </article>
            </template>
            <div id="container-hidden" class="hidden"></div>
        </section>
    </main>
    <footer>
        <section class="contact">
            <article class="logo">
                <img src="/images/logo.png" alt="Logo de MediConnect">
                <h2 class="name-logo">Medi<b>Connect</b></h2>
            </article>  
            <h3 class="title">Contacta con Nosotros</h3>
            <a href="/">
                <i class="fa-solid fa-location-dot"></i>
                Localización
            </a>
            <a href="/">
                <i class="fa-solid fa-phone"></i>
                +57 301231312
            </a>
            <a href="/">
                <i class="fa-solid fa-envelope"></i>
                admin@gmail.com
            </a>
        </section>
        <section class="doctors">
            <h3 class="title">Doctores</h3>
            <p>
                El doctor debe tener la capacidad de comunicarse 
                eficazmente con sus pacientes. Debe explicar los 
                procedimientos y la terminología médica en un modo 
                sencillo de entender.
            </p>
        </section>
        <section class="links">
            <h3 class="title">Enlaces Utiles</h3>
            <a href="/">Enlace 1</a>
            <a href="/">Enlace 2</a>
            <a href="/">Enlace 3</a>
            <a href="/">Enlace 4</a>
        </section>
        <section class="socials">
            <h3 class="title">Redes Sociales</h3>
            <a href="/">
                <i class="fa-brands fa-facebook" style="color: #284bd7;"></i>
                Facebook
            </a>
            <a href="/">
                <i class="fa-brands fa-square-twitter" style="color: #74C0FC;"></i>
                Twitter
            </a>
            <a href="/">
                <i class="fa-brands fa-linkedin" style="color: #3061b5;"></i>
                Linkedin
            </a>
            <a href="/">
                <i class="fa-brands fa-square-instagram" style="color: #8665ec;"></i>
                Instagram
            </a>
        </section>
        <section class="copy">
            <p>2024© Todos los derechos reservados.</p>
        </section>
    </footer>
</body>
</html>