<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assistant/css/index.css">
    <link rel="stylesheet" href="/assistant/css/profile.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/assistant/js/profile.js"></script>
    <script type="module" src="/assistant/js/image-profile.js"></script>
    <script src="https://kit.fontawesome.com/8cf6f6ded8.js" crossorigin="anonymous"></script>
    <title>Asistente | Perfil</title>
</head>
<body>
    <header>
        <nav>
            <div class="menu">
                <input type="checkbox" id="open-navbar">
                <label class="show-navbar" for="open-navbar">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <section class="navbar">
                    <label class="close-navbar" for="open-navbar">
                        <i class="fa-solid fa-xmark"></i>
                    </label>
                    <div class="logo">
                        <div class="image">
                            <a href="/">
                                <img src="/images/logo.jpg" alt="Logo de MediConnect" title="Logo de MediConnect">
                            </a>
                        </div>
                        <h2>Medi<span>Connect</span></h2>
                    </div>
                    <ul>
                        <li><a href="/asistente"><i class="fa-solid fa-calendar-check"></i> Citas</a></li>
                    </ul>
                </section>
            </div>
            <div class="profile">
                <input type="checkbox" id="check-profile">
                <label for="check-profile">
                    <img id="profile-image" src="/images/user-solid.jpg" alt="Imagen de perfil" class="img-circle image-profile">
                </label>
                <section class="dropdown-profile">
                    <article class="profile-information">
                        <p>Registrado como</p>
                        <p class="email-profile"></p>
                    </article>
                    <article class="profile-link">
                        <i class="fa-solid fa-user"></i>
                        <a href="/asistente/perfil">Perfil de usuario</a>
                    </article>
                    <article class="profile-logout logout">
                        <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                        <a href="/sesion/cerrar/asistente">Cerrar Sesión</a>
                    </article>  
                </section>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <article class="profile">
                <section class="form-image">
                    <form id="form-image-assistant" method="post">
                        <label for="input-image" class="label-image">
                            <img class="image-form image-profile" src="/images/user-solid.jpg" alt="Imagen de Perfil">
                        </label>
                        <input class="input-image" type="file" accept=".png, .jpg, .jpeg, .svg" name="image" id="input-image">
                        <div class="buttons">
                            <button id="button-upload-image" type="button" class="button-outline-gray">
                                <i class="fa-solid fa-upload"></i>
                                Subir imagen de perfil
                            </button>
                            <button id="button-delete-image" type="button" class="button-outline-gray text-red">
                                <i class="fa-solid fa-trash"></i>
                                Borrar
                            </button>
                        </div>
                        <p id="form-image-assistant-image-helper" class="helper"></p>
                    </form>
                </section>
                <section class="form-data">
                    <form id="profile-assistant" method="POST">
                        <div class="form-group">
                            <label for="idNumber" class="form-label">Numero de Identificación</label>
                            <div class="relative">
                                <input type="number" name="idNumber" class="form-field">
                                <i class="fa-solid fa-hashtag icon-input"></i>
                            </div>
                            <p id="profile-assistant-idNumber-helper" class="helper"></p>
                        </div>
                        <div class="form-group">
                            <label for="idType" class="form-label">Tipo de Identificación</label>
                            <article class="relative">
                                <select name="idType" class="form-field" required>
                                    <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                                    <option value="Cédula de Ciudadanía" selected>Cédula de Ciudadanía</option>
                                    <option value="Cédula digital">Cédula digital</option>
                                    <option value="Registro Civil">Registro Civil</option>
                                    <option value="Tarjeta de extranjería">Tarjeta de extranjería</option>
                                    <option value="Cedula de Extranjería">Cedula de Extranjería</option>
                                    <option value="Número de identificación tributaria">Número de identificación tributaria</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Permiso especial de permanencia">Permiso especial de permanencia</option>
                                </select>
                                <i class="fa-solid fa-id-card icon-input"></i>
                            </article>
                            <p id="profile-assistant-idType-helper" class="helper"></p>
                        </div>
                        <div class="form-group">
                            <label for="name" class="form-label">Nombre</label>
                            <div class="relative">
                                <input type="text" name="name" class="form-field">
                                <i class="fa-solid fa-user icon-input"></i>
                            </div>
                            <p id="profile-assistant-name-helper" class="helper"></p>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Correo Electronico</label>
                            <div class="relative">
                                <input type="email" name="email" class="form-field" autocomplete="email">
                                <i class="fa-solid fa-envelope icon-input"></i>
                            </div>
                            <p id="profile-assistant-email-helper" class="helper"></p>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="form-label">Contraseña</label>
                            <div class="relative">
                                <input type="password" name="pass" class="form-field">
                                <i class="fa-solid fa-lock icon-input"></i>
                            </div>
                            <p id="profile-assistant-pass-helper" class="helper"></p>
                        </div>
                        <div class="form-button">
                            <button id="button-update-data" class="button-blue-rounded" type="button">Actualizar</button>
                        </div>
                    </form>
                    <article class="information-dates">
                        <p>Cuenta creada el <b></b></p>
                        <p>Ultima actualización: <b></b></p>
                    </article>
                </section>
                <section id="form-message" class="form-message"></section>
            </article>
        </section>
    </main>
    <footer>
        <section class="contact">
            <article class="logo">
                <img src="/images/logo.png" alt="Logo de MediConnect">
                <h2 class="name-logo">Medi<b>Connect</b></h2>
            </article>  
            <h3 class="title">Contacta con Nosotros</h3>
            <a href="/">
                <i class="fa-solid fa-location-dot"></i>
                Localización
            </a>
            <a href="/">
                <i class="fa-solid fa-phone"></i>
                +57 301231312
            </a>
            <a href="/">
                <i class="fa-solid fa-envelope"></i>
                admin@gmail.com
            </a>
        </section>
        <section class="doctors">
            <h3 class="title">Doctores</h3>
            <p>
                El doctor debe tener la capacidad de comunicarse 
                eficazmente con sus pacientes. Debe explicar los 
                procedimientos y la terminología médica en un modo 
                sencillo de entender.
            </p>
        </section>
        <section class="links">
            <h3 class="title">Enlaces Utiles</h3>
            <a href="/">Enlace 1</a>
            <a href="/">Enlace 2</a>
            <a href="/">Enlace 3</a>
            <a href="/">Enlace 4</a>
        </section>
        <section class="socials">
            <h3 class="title">Redes Sociales</h3>
            <a href="/">
                <i class="fa-brands fa-facebook" style="color: #284bd7;"></i>
                Facebook
            </a>
            <a href="/">
                <i class="fa-brands fa-square-twitter" style="color: #74C0FC;"></i>
                Twitter
            </a>
            <a href="/">
                <i class="fa-brands fa-linkedin" style="color: #3061b5;"></i>
                Linkedin
            </a>
            <a href="/">
                <i class="fa-brands fa-square-instagram" style="color: #8665ec;"></i>
                Instagram
            </a>
        </section>
        <section class="copy">
            <p>2024© Todos los derechos reservados.</p>
        </section>
    </footer>
</body>
</html>