<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/administrator/css/index.css">
    <link rel="stylesheet" href="/administrator/css/diseases.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/screen.js"></script>
    <script src="/seeker.js"></script>
    <script src="/navbar.js"></script>
    <script type="module" src="/administrator/js/diseases.js"></script>
    <script type="module" src="/administrator/js/profile-image.js"></script>
    <script src="https://kit.fontawesome.com/8cf6f6ded8.js" crossorigin="anonymous"></script>
    <title>Administrador | Enfermedades</title>
</head>
<body>
    <header id="header">
        <nav>
            <section>
                <article class="menu-content">
                    <div id="menu"><i class="fa-solid fa-bars"></i></div>
                </article>
                <article id="seeker" class="seeker">
                    <input type="text" id="input-seeker" class="input-seeker" placeholder="Buscar Enfermedad..." autocomplete="on">
                    <div id="icon-seeker">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </article>
                <article>
                    <div id="buttonScreen"><i class="fa-solid fa-expand"></i></div>
                </article>
                <article class="profile">
                    <input type="checkbox" id="check-profile">
                    <label for="check-profile">
                        <img src="/images/user-solid.jpg" alt="Imagen de perfil" class="img-circle image-profile">
                    </label>
                    <section class="dropdown-profile">
                        <article class="profile-information">
                            <p>Registrado como</p>
                            <p class="email-profile"></p>
                        </article>
                        <article class="profile-link">
                            <i class="fa-solid fa-user"></i>
                            <a href="/administrador/perfil">Perfil de usuario</a>
                        </article>
                        <article class="profile-logout logout">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                            <a href="/sesion/cerrar/administrador">Cerrar Sesión</a>
                        </article>  
                    </section>
                </article>
            </section>
        </nav>
    </header>
    <aside id="navbar">
        <section class="header">
            <img src="/images/logo.jpg" alt="Imagen de logo" class="logo">
            <h1>MEDI<span>CONNECT</span></h1>
        </section>
        <article class="item-nav">
            <i class="fa-solid fa-house"></i>
            <a href="/administrador">Inicio</a>
        </article>
        <article class="item-nav">
            <i class="fa-solid fa-prescription-bottle-medical"></i>
            <a href="/administrador/medicinas">Medicinas</a>
        </article>
        <article class="item-nav select">
            <i class="fa-solid fa-virus"></i>
            <a href="/administrador/enfermedades">Enfermedades</a>
        </article>
        <article class="item-nav">
            <i class="fa-solid fa-users"></i>
            <a href="/administrador/usuarios">Usuarios</a>
        </article>
        <article class="item-nav">
            <i class="fa-solid fa-chart-simple"></i>
            <a href="/administrador/balance">Balance</a>
        </article>
        <section class="footer-aside">
            <div class="content logout">
                <a href="/sesion/cerrar/administrador">
                    <p>Cerrar Sesión</p>
                    <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                </a>
            </div>
        </section>
    </aside>
    <div id="shadow" class="shadow"></div>
    <main id="main">
        <section class="content">
            <article class="header-diseases">
                <h2>Enfermedades Registradas</h2>
                <button type="button" id="button-show-modal-diseases" class="button-outline-blue">Nueva Enfermedad</button>
            </article>
            <section class="container-diseases">
                <article id="diseases" class="diseases"></article>
                <article class="footer-diseases">
                    <p id="count-diseases" class="count"></p>
                    <section class="pagination">
                        <article id="prev-diseases" class="prev">
                            <i class="fa-solid fa-angle-left"></i>
                            <p>Anterior</p>
                        </article>
                        <article id="next-diseases" class="next">
                            <p>Siguiente</p>
                            <i class="fa-solid fa-angle-right"></i>
                        </article>
                    </section>
                </article>
                <template id="template-disease">
                    <div class="disease skeleton">
                        <div class="content-disease">
                            <div class="image"></div>
                            <p class="title"></p>
                            <small class="subtitle"></small>
                        </div>
                        <hr class="horizontal-divisor">
                        <div class="footer-disease">
                            <div class="image-user"></div>
                            <div class="information-user">
                                <p class="title-user"></p>
                                <small class="subtitle-user"></small>
                            </div>
                            <i class="fa-solid fa-arrow-up-right-from-square information-disease"></i>
                        </div>
                    </div>
                </template>
            </section>
            <section id="aside-diseases-doctors" class="aside-diseases">
                <h4 class="title">Enfermedades de Doctores <i class="fa-solid fa-globe"></i></h4>
                <div class="relative">
                    <input type="text" class="seeker-field" id="input-seeker-requests" placeholder="Buscar...">
                    <i class="fa-solid fa-magnifying-glass icon-seeker"></i>
                </div>
                <section id="diseases-requests" class="diseases-requests"></section>
                <template id="template-disease-request">
                    <article class="disease-request information-disease skeleton">
                        <div class="image"></div>
                        <div class="content-text">
                            <p class="name"></p>
                            <p class="date"></p>
                        </div>
                    </article>
                    <hr class="horizontal-divisor">
                </template>
            </section>
            <section id="modal-diseases" class="modal">
                <article class="relative">
                    <form id="form-diseases" class="form-modal" method="post">
                        <i id="button-hide-modal-diseases" class="fa-solid fa-xmark fa-lg button-hide-modal"></i>
                        <h2 id="title-diseases" class="title">Nueva Enfermedad</h2>
                        <p class="subtitle">Complete todos los campos para continuar.</p>
                        <section class="form-group image-group">
                            <label for="image-disease">
                                <img class="image-form" src="/images/disease-default.jpg" alt="Imagen de medicamento">
                            </label>
                            <input class="input-file" type="file" id="image-disease" name="image-disease" accept=".png, .jpg, .jpeg, .svg">
                            <p id="form-diseases-image-disease-helper" class="helper"></p>
                        </section>
                        <section id="message-diseases" class="message"></section>
                        <section class="form-group">
                            <label for="name" class="form-label">Nombre</label>
                            <article class="relative">
                                <input type="text" name="name" class="form-field" required>
                                <i class="fa-solid fa-arrow-up-9-1 icon-input"></i>
                            </article>
                            <p id="form-diseases-name-helper" class="helper"></p>
                        </section>
                        <section class="form-group">
                            <label for="scientificName" class="form-label">Nombre Cientifico</label>
                            <article class="relative">
                                <input type="text" name="scientificName" class="form-field" required>
                                <i class="fa-solid fa-signature icon-input"></i>
                            </article>
                            <p id="form-diseases-scientificName-helper" class="helper"></p>
                        </section>
                        <section class="form-group">
                            <label for="severity" class="form-label">Severidad</label>
                            <article class="relative">
                                <select name="severity" class="form-field" required>
                                    <option value="Leve">Ligera</option>
                                    <option value="Moderada">Moderada</option>
                                    <option value="Severa">Severa</option>
                                    <option value="Fatal">Fatal</option>
                                </select>
                                <i class="fa-solid fa-chart-column icon-input"></i>
                            </article>
                            <p id="form-diseases-severity-helper" class="helper"></p>
                        </section>
                        <section class="form-group">
                            <label for="description" class="form-label">Descripción</label>
                            <article class="relative">
                                <textarea name="description" class="form-field optional" cols="30" rows="8"></textarea>
                                <i class="fa-solid fa-align-left icon-input"></i>
                            </article>
                            <p id="form-diseases-description-helper" class="helper"></p>
                        </section>
                        <section class="form-buttons">
                            <button id="button-create-diseases" type="button" class="button-outline-gray text-blue w-100 m-0">Crear <i class="fa-solid fa-plus"></i></button>
                            <button id="button-update-diseases" type="button" class="button-outline-gray text-blue">Actualizar <i class="fa-solid fa-pen-to-square"></i></button>
                            <button id="button-delete-diseases" type="button" class="button-outline-gray text-red">Eliminar <i class="fa-solid fa-delete-left"></i></button>
                        </section>
                    </form>
                </article>
            </section>
        </section>
    </main>
    <footer id="footer">
        <section class="content">
            <article class="references">
                <div class="start">
                    <p>Terminos y Condiciones</p>
                    <p>Politica de Privacidad</p>
                    <p>Licencia</p>
                </div>
                <div class="end">
                    <i class="fa-solid fa-at"></i>
                    <i class="fa-brands fa-github"></i>
                </div>
            </article>
            <article class="copyright">
                <p>© 2024 - <span id="copyright-date">2024</span> copyright. Todos los derechos resevados.</p>
            </article>
        </section>
    </footer>
</body>
</html>